<!-- BEGIN: Content-->
<app-auth-card imgSrc="/assets/images/login.jpg">
  <div class="card-title">
    <h3 class="text-center font-weight-bold mb-2 mat-display-1">Analytics Admin Portal</h3>
  </div>
  <div class="alert alert-danger mx-3" role="alert" *ngIf="error?.error">
    <strong>ERROR: </strong> {{ error?.message }}
  </div>
  <div class="card-content">
    <div class="card-body">
      <form id="loginForm" [formGroup]="loginForm" (submit)="onLogin()" #form>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" placeholder="Your username" name="email" formControlName="email"
            (keyup.enter)="passwordInput.focus()">
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-error *ngIf="(email.touched || submitted) && email.errors?.['required']">
            Username is required
          </mat-error>
          <!-- <mat-error *ngIf="(email.touched || submitted) && email.errors?.['email']">
            Invalid email
          </mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Your password" name="password" formControlName="password"
            [type]="hidePassword ? 'password' : 'text'" autocomplete="password" #passwordInput
            (keyup.enter)="loginBtn.click()">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{ hidePassword ? "visibility_off" : "visibility" }}
          </mat-icon>
          <mat-error *ngIf="(password.touched || submitted) && password.errors?.['required']">
            Password is required
          </mat-error>
        </mat-form-field>

        <!-- <div class="form-group d-flex flex-md-row flex-column justify-content-between align-items-center mb-3">
          <div class="text-right">
            <a routerLink="/auth/forgot-password" class="card-link">
              <small>Forgot Password?</small>
            </a>
          </div>
        </div> -->
        <button class=' mt-4 w-100 btn btn-primary background-primary' type="submit" #loginBtn>
          <!-- [disabled]="authService.processes.loginUser.isActive || !loginForm.valid"> -->
          {{ !submitted ? 'LOGIN' : 'LOADING...'}}
        </button>
      </form>
    </div>
  </div>
</app-auth-card>