:host {
  min-height: 100%;
}

app-navbar {
  margin-bottom: 12px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 4px 2px 8px !important;
}

.logo-img {
  height: 120px;
}

.side-nav {
  min-height: 100%;
}

main {
  background-color: rgb(230, 236, 236);
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

