:host {
  min-height: 100%;
}

app-navbar {
  margin-bottom: 12px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 4px 2px 8px !important;
}

.main-content {
  // background: url("../../../assets/images/backgrounds/footprints.png");
  // background: url("/src/assets/images/backgrounds/angular.png");
}

.sidebar {
  
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

