<h2>Back Office Users</h2>

<div class="row align-items-center mx-1 mb-4" *ngIf="isAdmin">
  <!-- <span class="h4 mr-4">Filter by: </span> -->
  <!-- <mat-form-field class="mr-auto">
    <mat-label>Role</mat-label>
    <mat-select [formControl]="roleControl" disableOptionCentering>
      <mat-option *ngFor="let role of roles" [value]="role">
        {{role|splitSnakeCase}}
      </mat-option>
    </mat-select>
    <mat-hint>Change Role to switch filter Roles</mat-hint>
  </mat-form-field> -->
  <button mat-flat-button color="primary" (click)="openDialog()">Add User</button>
</div>

<app-table *ngIf="!isLoading" [displayedColumns]="displayedColumns" [dataSource]="dataSource" [actions]="actions"
  (onParentCall)="onParentCallback($event)">
</app-table>

<mat-spinner *ngIf="isLoading" class="table-spinner"></mat-spinner>
