<div class="d-flex flex-row border-bottom"
  *ngIf="pageUrl.includes(menuItem.path) || pageUrl.includes('dashboard') || showComponent">
  <button mat-icon-button (click)="accordion.toggle()">
    <i class="material-icons" [class.rotated]="accordion.expanded">expand_more</i>
  </button>

  <div class="w-100">
    <!-- Main Expansion Panel -->
    <mat-expansion-panel [expanded]="pageUrl.includes(menuItem.path) || (!showComponent && !pageUrl.includes('dashboard'))"
      #accordion hideToggle>
      <!-- Main Expansion Panel Header -->
      <mat-expansion-panel-header [class.active-parent]="pageUrl.includes(menuItem.path)">
        <mat-panel-title>
          <i class="material-icons">{{menuItem.icon}}</i>
          <a [routerLink]="menuItem.path" class="nav-link panel-title">{{menuItem.title}}</a>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Main Expansion Panel Body -->
      <mat-expansion-panel *ngFor="let navRoute of menuItem.subRoutes"
        [expanded]="pageUrl.includes(navRoute.startRoute) || (!showComponent && !pageUrl.includes('dashboard'))">
        <mat-expansion-panel-header
          [class.active-parent]="pageUrl.includes(menuItem.path) && pageUrl.includes(navRoute.startRoute) ">
          <mat-panel-title>
            {{ navRoute.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Sub Modules -->
        <div class="w-100" *ngFor="let subModule of navRoute.subModules">
          <mat-expansion-panel
            [expanded]="(pageUrl.includes(menuItem.path) && pageUrl.includes(subModule.subModulelink)) || !showComponent"
            #accordion2>
            <mat-expansion-panel-header
              [class.active-parent]="pageUrl.includes(menuItem.path) && pageUrl.includes(subModule.subModulelink)">
              <mat-panel-title>
                {{subModule.subModuleName}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Sub module links -->
            <div class="w-100" *ngFor="let subSubRoute of subModule.subRoutes">
              <a routerLinkActive='active' #routerActive="routerLinkActive"
                [routerLink]="[menuItem.path, subModule.subModulelink, subSubRoute.endRoute]"
                class="w-100 link-button" mat-button>
                {{ subSubRoute.linkName }}
              </a>
            </div>

          </mat-expansion-panel>
        </div>

        <!-- Module Links -->
        <div class="w-100" *ngFor="let subRoute of navRoute.subRoutes">
          <a routerLinkActive='active' #routerActive="routerLinkActive"
            [routerLink]="[menuItem.path , navRoute.startRoute, subRoute.endRoute]"
            [queryParams]="subRoute.queryParams" class="w-100 link-button"
            mat-button>
            {{ subRoute.linkName }}
          </a>
        </div>
      </mat-expansion-panel>

    </mat-expansion-panel>
  </div>
</div>
