$sm-accent: (50 : #f9e4e7,
  100 : #efbcc2,
  200 : #e58f9a,
  300 : #db6271,
  400 : #d34152,
  500 : #cb1f34,
  600 : #c61b2f,
  700 : #be1727,
  800 : #b81221,
  900 : #ac0a15,
  A100 : #ffd8da,
  A200 : #ffa5a9,
  A400 : #ff7278,
  A700 : #ff5860,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
