$sm-primary: (50 : #e0ecec,
  100 : #b3cfd0,
  200 : #80b0b1,
  300 : #4d9092,
  400 : #26787a,
  500 : #006063,
  600 : #00585b,
  700 : #004e51,
  800 : #004447,
  900 : #003335,
  A100 : #6df7ff,
  A200 : #3af5ff,
  A400 : #07f2ff,
  A700 : #00e0ec,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
