$sm-pink: (
    50 : #ffe7f5,
    100 : #ffc4e6,
    200 : #ff9dd5,
    300 : #ff75c4,
    400 : #ff58b8,
    500 : #ff3aab,
    600 : #ff34a4,
    700 : #ff2c9a,
    800 : #ff2591,
    900 : #ff1880,
    A100 : #ffffff,
    A200 : #fffdfe,
    A400 : #ffcae0,
    A700 : #ffb1d1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

