<!-- <div class="logo">
  <a routerLink="/portal/dashboard" class="">
    <div class="logo-img">
      <img src="/assets/images/logo.jpg" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper mt-4">
  <!-- Navigation -->
  <ul class="nav">

    <!-- <mat-accordion routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
      <app-nav-item-dropdown [menuItem]="menuItem" [showComponent]="viewAllComponents"></app-nav-item-dropdown>
    </mat-accordion> --

    <li class="nav-item d-block foot-buttons">

      <button mat-stroked-button color="warn" id="logout-button" (click)="logout()" *ngIf="isMobileMenu"
        class="d-lg-none">
        Logout <i class="material-icons" color="warn">logout</i>
      </button>
    </li>
  </ul>
</div> -->

<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Analytics dashboard</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
        <i class="fas fa-chart-area fa-fw me-3"></i><span>Users</span>
      </a>
      <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a> -->
    </div>
  </div>
  </nav>
  <!-- Sidebar -->