.metric-large {
  font-size: 36px;
  font-weight: 800;
}

.metric-title {
  font-size: 14px;
  font-weight: 600;
  display: block;
}

.metric-from {
  font-weight: 400;
  color: rgb(153, 153, 153);
  display: block;
}