<div class="w-100 d-inline-flex">
  <div class="mx-4">
    <span class="metric-large">{{ presentData?.visits ?? 0 }}</span>
    <span class="metric-title">Visits</span>
    <!-- <span class="metric-from">5% increase</span> -->
  </div>
  <div class="mx-4">
    <span class="metric-large">
      {{ millisToMinutesAndSeconds(presentData?.averageVisitDuration) }}
    </span>
    <span class="metric-title">Average visit time</span>
    <!-- <span class="d-block other">5% increase</span> -->
  </div>
  <div class="mx-4">
    <span class="metric-large">
      {{ presentData?.uniqueVisitors ?? 0 }}
    </span>
    <span class="metric-title">Unique Visitors</span>
    <!-- <span class="d-block other">5% increase</span> -->
  </div>
</div>