<app-auth-card imgSrc="/assets/images/pages/forgot-password-f.png">
  <div class="card-title">
    <h3 class="text-center mb-2 mat-display-1 color-primary">
      {{ response ? response.status.toUpperCase() : "Forgot Password?" }}</h3>
    </div>
    <div class="alert alert-danger mx-3" role="alert" *ngIf="error?.error">
      <strong>ERROR: </strong> {{ error?.message }}
  </div>
  <div class="card-content">
    <div class="card-body text-center">
      <form [formGroup]="forgotPasswordForm" (submit)="onSubmitEmail()" class="mb-4">
        <p class="text-center mb-2" *ngIf="response?.status === 'success'">An email has been sent to {{email.value}}</p>
        <p class="text-center mb-4">{{ response ? response.message : "Enter your email and we will send you the link" }}
        </p>

        <mat-form-field class="mb-4">
          <mat-label>Email address</mat-label>
          <input matInput type="email" placeholder="Your email address" name="email" formControlName="email" email>
          <mat-icon matPrefix>mail</mat-icon>
          <mat-error *ngIf="(email.touched || submitted) && email.errors?.['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="(email.touched || submitted) && email.errors?.['email']">
            Invalid email
          </mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">
          {{ isLoading ? 'Loading...' : response?.status === 'success' ? 'Reenter email' : 'send link' | uppercase}}
        </button>
      </form>

      <a routerLink="/auth" mat-flat-button><small class="font-weight-light">I remembered my password</small> </a>
    </div>
  </div>
</app-auth-card>
