<!-- <div id="chart">
  <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
    [stroke]="chartOptions.stroke!" [tooltip]="chartOptions.tooltip!"
    [dataLabels]="chartOptions.dataLabels!"></apx-chart>
</div> -->

<!-- Routing toggle -->
<div class="top d-inline-flex w-100">
<div class="filter-buttons mb-4">
  <div class="d-flex">
    <div class="cl">
      <mat-button-toggle-group [formControl]="filterByControl" aria-label="Font Style">
        <mat-button-toggle value="day">Day</mat-button-toggle>
        <mat-button-toggle value="week">Week</mat-button-toggle>
        <mat-button-toggle value="month">Month</mat-button-toggle>
        <mat-button-toggle value="year">Year</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="cl mx-4">
      <!-- Pick Date for report -->
      <mat-form-field class="">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="reportRange" [rangePicker]="picker">
          <input matStartDate [formControl]="startDateControl" placeholder="Start date">
          <input matEndDate [formControl]="endDateControl" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="startDateControl.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="endDateControl.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
    </div>
    </div>
    

  <!-- select reporting period -->
  <!-- <mat-form-field>
    <mat-label>Reporting Intervals</mat-label>
    <mat-select [formControl]="timePeriodControl">
      <mat-option *ngFor="let rangeGroup of rangeGroups" [value]="rangeGroup">
        {{rangeGroup}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<app-metrics-banner [startDate]="startDateControl.value" [endDate]="endDateControl.value"
  (hasData)="toggleShowAnalytics($event)" (isLoading)="toggleIsLoading($event)"></app-metrics-banner>
  <!-- Print Page button -->
  <div class="flexExpand"></div>
  <div class="print-btn">
    <button mat-raised-button color="primary" class="ml-auto" (click)="printPage()">Print Report</button>
  </div>
</div>

<div *ngIf="!showAnalytics && !isLoading">
<div class="row">
  <div class="col">
    <app-page-views [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-page-views>
  </div>
  <div class="col">
    <app-device-type [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-device-type>
  </div>
</div>

<div class="grid">
  <!-- <div class="col">
    <app-new-visitors [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-new-visitors>
  </div> -->
  <div class="col">
    <app-button-clicks [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-button-clicks>
  </div>
  
  <div class="col">
    <app-link-clicks [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-link-clicks>
  </div>

  <div class="col">
    <app-os [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-os>
  </div>

  <div class="col">
    <app-referrers [startDate]="startDateControl.value" [endDate]="endDateControl.value"
      [timePeriod]="timePeriodControl.value"></app-referrers>
  </div>
  
  <div class="col">
      <app-browsers [startDate]="startDateControl.value" [endDate]="endDateControl.value"
        [timePeriod]="timePeriodControl.value"></app-browsers>
      </div>
</div>
</div>

<div class="image p-4" *ngIf="showAnalytics">
  <h5 class="text-center mt-4 mb-2">Sorry no Analytics for this period</h5>
  <img src="/assets/images/no-data.png" alt="">
</div>

<div class="loader">

</div>