.col {
  margin: 8px;
  padding: 12px 8px;
  // border: 1px solid rgb(204, 204, 204);
  background-color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  border-radius: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: 1rem;
}

